:root {
  --primary: #abd3ef;
  --secondary: #d2acd1;
  --border: #e3c3e2;
  --input: #ebe4ea;
}

* {
  box-sizing: border-box;
}

body {
  display: flex;
  flex-direction: column;
  gap: 8px;
  align-items: center;
  background-color: var(--secondary);
}

input {
  outline: none;
  border: solid 1px var(--border);
  border-radius: 8px;
  padding: 8px 16px;
  background-color: var(--input);
  height: 100%;
  font-size: 0.9rem;
  width: 100%;
}

button {
  background-color: var(--primary);
  outline: none;
  border: none;
  color: white;
  font-weight: bold;
  border-radius: 8px;
  padding: 8px 16px;
  cursor: pointer;
  font-size: 1.15rem;
}

#div_valor_vitoria {
  display: flex;
  align-items: center;
  width: 100%;
  gap: 8px;
  border-bottom: solid 1px var(--primary);
  padding-bottom: 8px;
}

#div_valor_vitoria > label {
  white-space: nowrap;
  font-weight: bold;
  font-size: 1.15rem;
}

form {
  display: flex;
  gap: 8px;
  width: 100%;
}

@media screen and (max-width: 480px) {
  form {
    flex-direction: column;
  }
}

form > span {
  flex-grow: 1;
}

#participantes th {
  padding: 8px 16px;
  text-align: left;
}

#participantes td {
  padding: 4px 16px;
}

#participantes th,
#participantes td {
  border: 2px solid var(--primary);
  background-color: var(--input);
}

#participantes {
  border-collapse: collapse;
  font-size: 1.15rem;
}

#calcular,
#participantes {
  width: 100%;
}

#resultado {
  width: 100%;
  flex-direction: column;
  gap: 8px;
  background-color: var(--input);
  padding: 16px;
  border-radius: 8px;
  display: none;
}

#resultado > div {
  border-bottom: solid 1px var(--secondary);
}